/*text*/
h1, h2, h3, h4, h5 {font-family: 'Quicksand', sans-serif;}
body, a {font-family: 'Montserrat', sans-serif;}
/*background*/
body {
    background-color: #F8F8F8;
}
/*nav*/
.purpledivider {
    color: #7E82F9;
    font-weight: 700;
    margin-right: 10px;
}
nav {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    
}
.bg-light {}
/*hero*/
.bgherobookmark {
    background-color: #7E82F9;
}
.herobookmark-bottom {
    background-color: #7E82F9;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
}
.carousel-caption {
    background-color: rgba(255, 255, 255, 0.692);
}
.carousel-caption p,.carousel-caption h5 {
    color: #5457af;
}
/*dailychallenge*/
.bgchallengesquare {
    background-image: url(../images/bgchallengesquare.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
/*margins*/
.containermargintop {
    margin-top: 50px;
}
.marginright30 {
    margin-right: 30px;
}
/*mentoring*/
.mentortxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bgmentorsquare {
    background-image: url(../images/bgmentorsquare.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}
/*covid*/
.bggrabngo {
    background-image: url(../images/bgcovidsquare.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*events*/
.marginleft30 {
    margin-left: 30px;
}
.bgcalendarsquare {
    background-image: url(../images/bgcalendarsquare.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}