/*text*/
h1, h2, h3, h4, h5 {font-family: 'Quicksand', sans-serif;}
body, a {font-family: 'Montserrat', sans-serif;}
/*background*/
body {
    background-color: #F8F8F8;
}
/*nav*/
.purpledivider {
    color: #7E82F9;
    font-weight: 700;
    margin-right: 10px;
}
nav {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
/*hero*/
.bg-hero {
    background-image: url(../images/herobookmark-bottom.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 170px;
}
.bgherobookmark {
    background-image: url(../images/herobookmark.png);
    background-position: left;
    background-repeat: no-repeat;
}
.carousel-caption {
    background-color: rgba(255, 255, 255, 0.692);
}
.carousel-caption p,.carousel-caption h5 {
    color: #5457af;
}
/*dailychallenge*/

/*margins*/
.containermargintop {
    margin-top: 50px;
}
/*mentoring*/
.mentortxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}